## Observations and Insights

In [66]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

mouse_metadata.head()

new_dataset = mouse_metadata.append(study_results)

new_dataset.dtypes

duplicated_mice = pd.concat(g for _, g in new_dataset.groupby("Mouse ID") if len(g) > 1)

duplicated_mice

dedup_mice = duplicated_mice.drop_duplicates(subset ="Mouse ID")

dedup_mice

#dedup_mice.describe

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
49,a203,Infubinol,Female,20.0,23.0,NaN,NaN,NaN
50,a251,Infubinol,Female,21.0,25.0,NaN,NaN,NaN
51,a262,Placebo,Female,17.0,29.0,NaN,NaN,NaN
52,a275,Ceftamin,Female,20.0,28.0,NaN,NaN,NaN
53,a366,Stelasyn,Female,16.0,29.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
245,z435,Propriva,Female,12.0,26.0,NaN,NaN,NaN
8,z578,Ramicane,Male,11.0,16.0,NaN,NaN,NaN
246,z581,Infubinol,Female,24.0,25.0,NaN,NaN,NaN
247,z795,Naftisol,Female,13.0,29.0,NaN,NaN,NaN
248,z969,Naftisol,Male,9.0,30.0,NaN,NaN,NaN

In [44]:


# Checking the number of mice in the DataFrame.

unique_mice = new_dataset[new_dataset['Mouse ID'].duplicated() == True]

unique_mice

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,b128,NaN,NaN,NaN,NaN,0.0,45.000000,0.0
1,f932,NaN,NaN,NaN,NaN,0.0,45.000000,0.0
2,g107,NaN,NaN,NaN,NaN,0.0,45.000000,0.0
3,a457,NaN,NaN,NaN,NaN,0.0,45.000000,0.0
4,c819,NaN,NaN,NaN,NaN,0.0,45.000000,0.0
...,...,...,...,...,...,...,...,...
1888,r944,NaN,NaN,NaN,NaN,45.0,41.581521,2.0
1889,u364,NaN,NaN,NaN,NaN,45.0,31.023923,3.0
1890,p438,NaN,NaN,NaN,NaN,45.0,61.433892,1.0
1891,x773,NaN,NaN,NaN,NaN,45.0,58.634971,4.0
1892,b879,NaN,NaN,NaN,NaN,45.0,72.555239,2.0

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [6]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

## Bar Plots

In [9]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pyplot.

## Pie Plots

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [14]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [15]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [16]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [17]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen